<!DOCTYPE html>
<html lang="en">
    <html>
        <head>
            <title>Rockman's page</title>
        </head>
        <body>
            <div>
                <h1><a href="">Rockman</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p> Первая записаь на русском</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>и еще текста чутка.</p>
            </div>
        </body>
    </html>